@font-face {
    font-family: 'Paytone One';
    src: url('./PaytoneOne-Regular.eot');
    src: url('./PaytoneOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('./PaytoneOne-Regular.woff2') format('woff2'),
    url('./PaytoneOne-Regular.woff') format('woff'),
    url('./PaytoneOne-Regular.svg#PaytoneOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

